.app__blog{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.app__blog_heading{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.app__blog_heading h3{
    margin-bottom: 5px;
}

.app__blog_heading h2{
    color: #181945;
    
    font-size: 30px;
    font-weight: 700;
    line-height: 140%;
}

.app__blog_cards{
    width: 100%;
}

.app__blog_card{
    width: 100%;
    position: relative;

    margin-top: 50px;
    padding: 20px;
}

.app__blog_card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px; 
    border: 1px solid transparent;
    background: linear-gradient(to right, #1259C4, #BB37E9) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.app__blog_card_img{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;

    position: relative;
}

.social_img{
    border-radius: 20px;
}

.app__blog_card_date{
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border-radius: 16px;
    background: #FFF;

    position: absolute;

    top: 13px;
    left: 13px;
}

.app__blog_card_date p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.44px;

    background: var(--Gradient, linear-gradient(91deg, #1259C4 4.87%, #BB37E9 106.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.app__blog_card_date span{
    color: #1D2058;

    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
}

.app__blog_card_title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 15px;
}

.app__blog_card_title h3{
    font-family: var(--font-poppins);
    font-size: 18px;
    font-weight: 700;

    background: var(--Gradient, linear-gradient(91deg, #1259C4 4.87%, #BB37E9 106.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: relative;
}

.app__blog_card_text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 15px;
}

.app__blog_card_text p{
    font-size: 17px;
    line-height: normal;
    position: relative;
}
